# --- Terraform 執行產生的暫存檔 ---
.terraform/
.terraform.lock.hcl

# --- 包含機密資訊的 State 檔案 ---
*.tfstate
*.tfstate.*

# --- 變數定義檔 (如果裡面有寫密碼或 API Key) ---
*.tfvars
*.tfvars.json

# --- SSH 私鑰與敏感憑證 ---
*.pem
*.key

# --- 系統與編輯器暫存檔 ---
.DS_Store
.idea/
.vscode/

.env